.modal {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  max-width: 100%;
  width: 500px;
  overflow: hidden;
  padding: 3rem;
}

.modal-container h1 {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #0c9463;
}

.modal-container p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 2.2rem;
}

.modal.show-modal {
  display: block;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border: 0;
  color: #ffa259;
  transition: all 0.3s;
}

.close-btn:hover {
  color: #fa4252;
}

.godspeed {
  font-size: 1.8rem;
  color: #0c9463;
  font-weight: 700;
}
