.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0.5rem 0 2rem;
}

.interval-title {
  font-size: 1.4rem;
  text-transform: lowercase;
  letter-spacing: 0.2rem;
}

.interval-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.interval-length {
  width: 4.8rem;
  height: 4.8rem;
  font-size: 3rem;
  text-align: center;
  padding-top: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 2rem;
}

.btn {
  outline: 0;
  border: 2px solid #fff;
  font-size: 2rem;
  width: 4.8rem;
  height: 4.8rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.065);
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  border: 2px solid #fff;
}

.btn-left {
  border-radius: 50% 0 0 50%;
  margin-right: 2rem;
  padding-left: 0.3rem;
}

.btn-right {
  border-radius: 0 50% 50% 0;
  margin-left: 2rem;
  padding-right: 0.3rem;
}

.btn-play,
.btn-sound,
.btn-reset {
  height: 6rem;
  width: 6rem;
  text-align: center;
  padding-top: 0.3rem;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 25rem;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0.5rem 0 2rem;
}

.timer-countdown {
  font-size: 6.5rem;
  font-family: Oswald, sans-serif;
  text-align: center;
}

.flavor-text {
  font-size: 1.5rem;
  font-family: Lato, sans-serif;
  margin-top: 1rem;
  color: #ddd;
}
